---
name: Linting

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - ready_for_review
      - reopened
      - synchronize

concurrency:
  cancel-in-progress: true
  group: >-
    ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}

jobs:
  linting:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Cache pre-commit
        uses: actions/cache@v4
        with:
          path: ~/.cache/pre-commit
          key: cache-${{ hashFiles('./.pre-commit-config.yaml') }}

      - uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Install pre-commit and fortitude
        run: python -m pip install -r requirements.txt

      - name: Run pre-commit
        run: pre-commit run --all-files --color always --verbose
